In [ ]:
import pandas as pd

In [ ]:
df_laptops = pd.read_csv('dataset/laptop_price.csv')

In [ ]:
df_laptops

In [ ]:
import numpy as np

In [ ]:
# Multiple conditions into a new columns
conditions = [
    df_laptops['Price_euros']> 3000,
    (df_laptops['Price_euros']> 2000) & (df_laptops['Price_euros']<= 3000),
    (df_laptops['Price_euros']> 800) & (df_laptops['Price_euros']<= 2000),
    df_laptops['Price_euros']<= 800
]

values = ['Very Expensive', 'Expensive', 'Affordable', 'Cheap']

In [ ]:
# Add new column 'level_price'
df_laptops['level_price'] = np.select(conditions, values, default='Unknown')

In [ ]:

#Show dataframe
df_laptops

In [ ]:
# Count values in level_price
df_laptops.value_counts('level_price')

#### **2.1Exercise:Create Array list based on multiple conditions**

In [ ]:
# Array list based on creen size example -> { very big > 16, big > 14, medium > 12, small < 12}
screen_conditions = [
    df_laptops['Inches'] > 16,
    (df_laptops['Inches'] > 14) & (df_laptops['Inches'] <= 16),
    (df_laptops['Inches'] > 12) & (df_laptops['Inches'] <= 14),
    df_laptops['Inches'] <= 12
]

screen_values = ['Very Big', 'Big', 'Medium', 'Small']

In [ ]:
# Add new column 'screen_size'
df_laptops['screen_size'] = np.select(screen_conditions, screen_values, default='Null')

In [ ]:
df_laptops

In [ ]:
#Count the values in screen_size
df_laptops.value_counts('screen_size')

# **Filter on the dataframe**

In [ ]:
# Select laptops with brand Apple or HP
df_laptops['Company'].isin(['Apple', 'HP'])

In [ ]:
df_laptops[df_laptops['Company'].isin(['Apple', 'HP'])].value_counts('Company')

In [ ]:
# isin(): Multiple filter -> find notebooks or ultrabooks for Apple and HP
filter_one = df_laptops['TypeName'].isin(['Notebook', 'Ultrabook'])
filter_two = df_laptops['Company'].isin(['Apple', 'HP'])

In [ ]:
#show dataframe
df_laptops[filter_one & filter_two].value_counts('Company')

# **Encontrar valores duplicados en una columna**

In [ ]:
# Find duplicate values in columns or series
df_laptops.duplicated('laptop_ID').value_counts

In [ ]:
df_laptops[df_laptops.duplicated(['laptop_ID'])]

In [ ]:
# Show duplicated in two columns
duplicate = df_laptops.duplicated(['Product', 'TypeName', 'Inches'])

In [ ]:
df_laptops[duplicate].sort_values(['Product', 'TypeName'])


## **Example 2: Search the laptops more chep and more expensive each company using the method short_values() and duplicated() (args: keep "first", "last" and False)** ##

In [ ]:
# Order dataframe ascending by "Company" and "Price" first cheap and last expensive
sort_laptops = df_laptops.sort_values(['Company', 'Price_euros'])

In [ ]:
sort_laptops.value_counts('Company')

In [ ]:
# Duplicated values in the "Company" column, keep the first (cheap)
dupli_first=sort_laptops.duplicated('Company', keep='first')

In [ ]:
# show dataframe with values duplicated in the columns "Company"
df_laptops[dupli_first]

# keep 'first'(laptops more cheap of each company
# show dataframe with values not duplicated in the columns "Company"
df_laptops[~dupli_first][['Company', 'Price_euros']]

In [ ]:
# keep = 'last' (laptops more expensive of each company)
dupli_last = df_laptops.duplicated('Company', keep='last')

In [ ]:
df_laptops[~dupli_last][['Company', 'Price_euros']]

In [ ]:
#Keep = False (all laptops more cheap and more expensive of each company)
dupli_all = df_laptops.duplicated('Company', keep=False)

In [ ]:
df_laptops[~dupli_all][['Company', 'Price_euros']]

# **Delete duplicate values in two or mor colum**ns